
{ "presets": ["modules:react-native","@babel/plugin-proposal-class-properties"],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ] 
}
